p{
    color: dimgray;
}
.name-highlight{
    color: hotpink;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 40%;
    float: left;
}
.web{
     width: 30%;
     float: right;
     margin: 3%;
}
.top-banner{
    background-image: url("top-banner.png");
}
.link-button{
    text-decoration: none;
    background-color: hotpink;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.biography{
    background-image: url(image/biography-bg.png);
}
.comments{
    text-align: center;
}